<mj-text align="left" color="#000000" font-size="22px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px"><span>Hi <%= @user.email %></span></mj-text>
<mj-text align="left" color="#000000" font-size="15px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">You can reset your password by visiting the URL below:</mj-text>
<mj-button href={@url} align="left" font-size="22px" font-weight="bold" background-color="rgb(234, 179, 8)" border-radius="10px" color="#000000" font-family="open Sans Helvetica, Arial, sans-serif">Reset password</mj-button>
<mj-text align="left" color="#000000" font-size="15px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">If you didn't request this change, please ignore this.</mj-text>
<mj-text align="left" color="#000000" font-size="15px" font-family="open Sans Helvetica, Arial, sans-serif" padding-left="25px" padding-right="25px">Thanks, <br /> The GuildaTech Team</mj-text>