:root {
  --color-btn: rgb(55, 65, 81);
  --color-btn--active: rgb(37, 47, 63);
  --color-btn--hover: rgb(107, 114, 128);
  --color-border--btn: rgb(210, 214, 220);
  --color-border--btn-active: rgb(249, 250, 251);
}

.Button {
  align-items: center;
  background-color: var(--color-bg--surface);
  border-color: var(--color-border--btn);
  border-radius: 0.375rem;
  border-width: 1px;
  color: var(--color-btn);
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.Button:active {
  background-color: var(--color-border--btn-active);
  color: var(--color-btn--active);
}

.Button:focus {
  border-color: #a4cafe;
  border-color: rgba(164, 202, 254, 1);
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  outline: 0;
}

.Button:hover {
  color: var(--color-btn--hover);
}

.Button--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-txt);
}

.Button--primary:active {
  background-color: var(--color-primary--darkest);
  border-color: var(--color-primary--darkest);
  color: var(--color-txt);
}

.Button--primary:hover {
  background-color: var(--color-primary--dark);
  border-color: var(--color-primary--dark);
  color: var(--color-txt);
}