.Table {
  min-width: 100%;
}

.Table__th {
  padding: var(--half-space) var(--base-space);
  font-size: var(--font-size-medium);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgb(107, 114, 128);
  text-transform: uppercase;
  background-color: rgb(249, 250, 251);
}

.Table__td {
  padding: var(--base-space);
  font-size: var(--font-size-medium);
  color: rgb(107, 114, 128);
}

.Table > * + *,
.Table__body > * + * {
  border-top: 1px solid rgb(229, 231, 235);
}

.Table__body {
  border-top: 1px solid rgb(229, 231, 235);
  background-color: #fff;
}